@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h2>Text-to-Speech</h2>
            <p>Click the button below to go to the Text-to-Speech page.</p>
            <a href="@Url.Action("TTS", "Voice")" class="btn btn-primary">Go to TTS</a>
        </div>
        <div class="col-md-6">
            <h2>Speech-to-Text</h2>
            <p>Click the button below to go to the Speech-to-Text page.</p>
            <a href="@Url.Action("STT", "Voice")" class="btn btn-primary">Go to STT</a>
        </div>
    </div>
    
</div>

